{% block Block -%}

{%- if Separated %}
<hr />
<h2>Памылковыя аўтамабільныя дарогі</h2>
<div id='Separated'>
 <table>
  <thead>
   <tr valign='top'>
    <th>ref</th>
    <th>link</th>
    <th>name</th>
    <th>error</th>
   </tr>
  </thead>
  <tbody>
{%- for Item in Separated %}
   <tr bgcolor='{{Item['Color']}}' valign='top'>
{%- if Item['Key'][:6] == "error-" %}
    <td>&nbsp;</td>
{%- else %}
    <td><nobr>{{Item['Key']}}</nobr></td>
{%- endif %}
{%- if Item['ID'] %}
    <td><a target='_blank' href='https://openstreetmap.org/{{Item['Type']}}/{{Item['ID']}}'>osm</a><br /><a target='_josm' href='josm://{{Item['Type']}}/{{Item['ID']}}' onclick='return josm("{{Item['Type'][0]}}{{Item['ID']}}");'>josm</a></td>
{%- else %}
    <td>&nbsp;</td>
{%- endif %}
    <td>{{Item['Be']}}<br /><font color='gray'>{{Item['Ru']}}</font></td>
    <td><nobr>{{"<br />".join(Item['Error'])}}</nobr></td>
   </tr>
{%- endfor %}
  </tbody>
 </table>
</div>
{%- else %}
<!-- Separated усё добра -->
{%- endif %}

{%- endblock %}
